body {
  background-color: #d0d6e6;
  margin: 0;
}

header {
  border: 1px solid black;
  background-color: #004f98;
}

ul {
  list-style: none;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
  padding: 0;
}

h2 {
  width: 8%;
  border: 1px solid black;
}

nav {
  display: inline-flex;
  align-items: center;
  width: 32%;
  gap: 20%;
  border: 1px solid rgb(214, 27, 27);
}

.responsive-header {
  border: 1px solid black;
  display: flex;
  gap: 60%;
}

h1 {
  border: 1px solid black;
  margin-top: 50px;
  margin-left: 50px;
}

#filter {
  margin-left: 50px;
  width: 15vw;
  height: 60vh;
  border: 1px solid black;
  overflow-y: auto;
}

/*a child selector for targeting the h3 element*/
h3 {
  margin: 12px 12px 0px;
}

hr {
  margin: 6px 12px;
}

input {
  margin: 12px;
}
#remote-only-input {
  margin: 12px 12px 0px;
}
.salary-fields {
  margin: 0;
  width: 60px;
}
.remote-only-container {
  display: flex;
  align-items: baseline;
  border: 1px solid black;
}
.salary-boxes {
  flex-direction: column;
  display: inline-flex;
  margin-top: 10px;
  margin-left: 12px;
}

.master-flex {
  display: flex;
}

button {
  margin: 12px;
}

.buttons {
  white-space: nowrap;
}
