body {
  background-color: #d0d6e6;
  margin: 0;
}

header {
  border: 1px solid black;
}

ul {
  list-style: none;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
  padding: 0;
}

nav {
  border: 1px solid black;
}
